/.buildpath
/.cache
/.metadata
/.project
/.settings
/.vscode
atlassian*
/nbproject

/.idea
.env
docker-compose.dev.yml

/.docker/elasticsearch/data/*
!/.docker/elasticsearch/data/.gitkeep
/.docker/elasticsearch/logs/*
!/.docker/elasticsearch/logs/.gitkeep

/.docker/mysql/data/*
!/.docker/mysql/data/.gitkeep
/.docker/mysql/log/*
!/.docker/mysql/log/.gitkeep

/.docker/nginx/logs/*
!/.docker/nginx/log/.gitkeep

.docker/mysql57/log/*
!.docker/mysql57/log/.gitkeep

.docker/mariadb/log/*
!.docker/mariadb/log/.gitkeep

/.docker/*.flag

.docker/php-fpm/log/*
!.docker/php-fpm/log/.gitkeep
.docker/php81-fpm/log/*
!.docker/php81-fpm/log/.gitkeep

.docker/nginx/etc/conf.d/*
!.docker/nginx/etc/conf.d/default.confbak
!.docker/nginx/etc/conf.d/php74_demo.conf
!.docker/nginx/etc/conf.d/magento2modules.local.ulooo.com.conf
!.docker/nginx/etc/conf.d/fastcgi_backend.conf

.docker/nginx/etc/conf.d/magento
!.docker/nginx/etc/conf.d/magento/magento2modules.nginx.conf.sample
!.docker/nginx/etc/conf.d/magento/php74.nginx.conf.sample
!.docker/nginx/etc/conf.d/magento/php81.nginx.conf.sample

/.docker/php82-fpm/log/www.access.log
/.docker/php82-fpm/log/www.log.slow
