# download docker desktop : https://www.docker.com/products/docker-desktop/
version: "3.1"
services:

  php-fpm:
    image: ${ALIYUN_CONTAINER_URL}/magento2:php-7.4.30-fpm
    container_name: ${COMPOSE_PROJECT_NAME}_php_fpm
    cap_add:
      - SYS_PTRACE
    restart: always
    volumes:
      - ./.docker/php-fpm/etc/conf.d/php.local.ini:/usr/local/etc/php/php.ini
      - ./.docker/php-fpm/etc/conf.d/00-opcache-recommended.ini:/usr/local/etc/php/conf.d/00-opcache-recommended.ini
      - ./.docker/php-fpm/etc/php-fpm.d/www.local.conf:/usr/local/etc/php-fpm.d/www.conf:ro
      - ./.docker/php-fpm/log:/usr/local/log
      - data-www:/data/www
    dns:
      - 223.5.5.5 #https://www.alidns.com/
      - 119.29.29.29 #https://www.dnspod.cn/Products/Public.DNS
      - 114.114.114.114

  php81-fpm:
    image: ${ALIYUN_CONTAINER_URL}/magento2:php-8.1.7-fpm
    container_name: ${COMPOSE_PROJECT_NAME}_php81_fpm
    cap_add:
      - SYS_PTRACE
    restart: always
    volumes:
      - ./.docker/php-fpm/etc/conf.d/php.local.ini:/usr/local/etc/php/php.ini:ro
      - ./.docker/php-fpm/etc/conf.d/00-opcache-recommended.ini:/usr/local/etc/php/conf.d/00-opcache-recommended.ini
      - ./.docker/php81-fpm/etc/php-fpm.d/www.local.conf:/usr/local/etc/php-fpm.d/www.conf:ro
      - ./.docker/php81-fpm/log:/usr/local/log
      - data-www:/data/www
    dns:
      - 223.5.5.5 #https://www.alidns.com/
      - 119.29.29.29 #https://www.dnspod.cn/Products/Public.DNS
      - 114.114.114.114

  nginx:
    image: ${ALIYUN_CONTAINER_URL}/magento2:nginx-1.21.6
    container_name: ${COMPOSE_PROJECT_NAME}_nginx
    restart: always
    ports:
      - 80:80
    depends_on:
      - php-fpm
    volumes:
      - ./.docker/nginx/etc/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./.docker/nginx/etc/snippets:/etc/nginx/snippets
      - ./.docker/nginx:/data/nginx:cached
      - data-www:/data/www

  redis:
    image: ${ALIYUN_CONTAINER_URL}/magento2:redis-5.0.14
    container_name: ${COMPOSE_PROJECT_NAME}_redis
    restart: always
    stdin_open: true
    tty: true
    command: redis-server --appendonly yes --requirepass ${REDIS_PASSWORD}

  mysql:
    image: ${ALIYUN_CONTAINER_URL}/magento2:mysql-8.0.29
    container_name: ${COMPOSE_PROJECT_NAME}_mysql
    command: --default-authentication-plugin=mysql_native_password --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    restart: always
    security_opt:
      - seccomp:unconfined
    ports:
      - 3306:3306
    volumes:
      - ./.docker/mysql/log:/var/log/mysql
      - mysql-data:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}

  adminer:
    image: ${ALIYUN_CONTAINER_URL}/magento2:adminer-latest
    container_name: ${COMPOSE_PROJECT_NAME}_adminer
    restart: always
    ports:
      - 8899:8080
    depends_on:
      - mysql
    environment:
      - ADMINER_DEFAULT_SERVER=${ADMINER_DEFAULT_SERVER}

  elasticsearch:
    image: ${ALIYUN_CONTAINER_URL}/magento2:ES-7.17.3
    container_name: ${COMPOSE_PROJECT_NAME}_es
    restart: always
    environment:
      - cluster.name=elasticsearch
      - bootstrap.memory_lock=true
      - discovery.type=single-node
      - "ES_JAVA_OPTS=-Xms2g -Xmx2g"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    ports:
      - "9200:9200"
      - "9300:9300"
    volumes:
      - elasticsearch-data:/usr/share/elasticsearch/data
      - ./.docker/elasticsearch/config/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml:ro
      - ./.docker/elasticsearch/config/jvm.options:/usr/share/elasticsearch/config/jvm.options:ro
      - ./.docker/elasticsearch/logs:/usr/share/elasticsearch/logs

  sshd:
    #image: ${ALIYUN_CONTAINER_URL}/magento2:sshd-php-8.1.7 #pick one for yourself
    image: ${ALIYUN_CONTAINER_URL}/magento2:sshd-php-7.4.30
    container_name: ${COMPOSE_PROJECT_NAME}_sshd
    ports:
      - "2222:22"
    restart: always
    volumes:
      - ./.docker/php-fpm/etc/conf.d/php.local.ini:/usr/local/etc/php/php.ini:ro
      - ./.docker/php-fpm/etc/conf.d/00-opcache-recommended.ini:/usr/local/etc/php/conf.d/00-opcache-recommended.ini:ro
      - data-www:/data/www
    dns:
      - 223.5.5.5 #https://www.alidns.com/
      - 119.29.29.29 #https://www.dnspod.cn/Products/Public.DNS
      - 114.114.114.114

volumes:
  mysql-data:
  data-www:
  elasticsearch-data:
