# download docker desktop : https://www.docker.com/products/docker-desktop/
version: "3.1"
services:

  php-fpm:
    image: ${ALIYUN_CONTAINER_URL}/magento2:php-7.4.30-fpm-applesilicon
    container_name: ${COMPOSE_PROJECT_NAME}_php_fpm
    cap_add:
      - SYS_PTRACE
    restart: always
    volumes:
      - ./.docker/php-fpm/etc/conf.d/php.local.ini:/usr/local/etc/php/php.ini
      - ./.docker/php-fpm/etc/conf.d/00-opcache-recommended.ini:/usr/local/etc/php/conf.d/00-opcache-recommended.ini
      - ./.docker/php-fpm/etc/php-fpm.d/www.local.conf:/usr/local/etc/php-fpm.d/www.conf:ro
      - ./.docker/php-fpm/log:/usr/local/log
      - data-www:/data/www
    dns:
      - 223.5.5.5 #https://www.alidns.com/
      - 119.29.29.29 #https://www.dnspod.cn/Products/Public.DNS
      - 114.114.114.114

  php81-fpm:
    image: ${ALIYUN_CONTAINER_URL}/magento2:php-8.1.7-fpm-applesilicon
    container_name: ${COMPOSE_PROJECT_NAME}_php81_fpm
    cap_add:
      - SYS_PTRACE
    restart: always
    volumes:
      - ./.docker/php-fpm/etc/conf.d/php.local.ini:/usr/local/etc/php/php.ini:ro
      - ./.docker/php-fpm/etc/conf.d/00-opcache-recommended.ini:/usr/local/etc/php/conf.d/00-opcache-recommended.ini
      - ./.docker/php81-fpm/etc/php-fpm.d/www.local.conf:/usr/local/etc/php-fpm.d/www.conf:ro
      - ./.docker/php81-fpm/log:/usr/local/log
      - data-www:/data/www
    dns:
      - 223.5.5.5 #https://www.alidns.com/
      - 119.29.29.29 #https://www.dnspod.cn/Products/Public.DNS
      - 114.114.114.114

  # 默认不再开启，可按需开起
  # 注意开起后，需要调整 .docker/nginx/etc/conf.d/php73_fastcgi_backend.conf 的 第 2，4，7行注释
  #php73-fpm:
  #  image: ${ALIYUN_CONTAINER_URL}/magento2:php-7.3.33-fpm
  #  container_name: ${COMPOSE_PROJECT_NAME}_php73_fpm
  #  cap_add:
  #    - SYS_PTRACE
  #  restart: always
  #  volumes:
  #    - ./.docker/php-fpm/etc/conf.d/php.local.ini:/usr/local/etc/php/php.ini
  #    - ./.docker/php-fpm/etc/conf.d/00-opcache-recommended.ini:/usr/local/etc/php/conf.d/00-opcache-recommended.ini
  #    - ./.docker/php73-fpm/etc/php-fpm.d/www.local.conf:/usr/local/etc/php-fpm.d/www.conf:ro
  #    - ./.docker/php73-fpm/log:/usr/local/log
  #    - data-www:/data/www
  #  dns:
  #    - 223.5.5.5 #https://www.alidns.com/
  #    - 119.29.29.29 #https://www.dnspod.cn/Products/Public.DNS
  #    - 114.114.114.114

  nginx:
    image: ${ALIYUN_CONTAINER_URL}/magento2:nginx-1.21.6-applesilicon
    container_name: ${COMPOSE_PROJECT_NAME}_nginx
    restart: always
    ports:
      - 80:80
    depends_on:
      - php-fpm
    volumes:
      - ./.docker/nginx/etc/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./.docker/nginx/etc/snippets:/etc/nginx/snippets
      - ./.docker/nginx:/data/nginx:cached
      - data-www:/data/www

  redis:
    image: ${ALIYUN_CONTAINER_URL}/magento2:redis-5.0.14-applesilicon
    container_name: ${COMPOSE_PROJECT_NAME}_redis
    restart: always
    stdin_open: true
    tty: true
    command: redis-server --appendonly yes --requirepass ${REDIS_PASSWORD}

  # 默认不再开启，可按需开起
  #mariadb:
  #  image: ${ALIYUN_CONTAINER_URL}/magento2:mariadb-10.9.3-applesilicon
  #  container_name: ${COMPOSE_PROJECT_NAME}_mariadb
  #  restart: always
  #  stdin_open: true
  #  tty: true
  #  volumes:
  #    - mariadb-data:/var/lib/mysql
  #  environment:
  #    - MARIADB_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
  #    - MARIADB_USER=${MYSQL_USER}
  #    - MARIADB_PASSWORD=${MYSQL_PASSWORD}

  mysql:
    image: ${ALIYUN_CONTAINER_URL}/magento2:mysql-8.0.29-applesilicon
    container_name: ${COMPOSE_PROJECT_NAME}_mysql
    command: --default-authentication-plugin=mysql_native_password --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    restart: always
    security_opt:
      - seccomp:unconfined
    ports:
      - 3306:3306
    volumes:
      - ./.docker/mysql/log:/var/log/mysql
      - mysql-data:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}

  # 默认不再开启，可按需开起, 另外 5.7 的官方源只有 AMD64 的版本，没有 ARM 版本
  #mysql57:
  #  image: ${ALIYUN_CONTAINER_URL}/magento2:mysql-5.7.37
  #  container_name: ${COMPOSE_PROJECT_NAME}_mysql57
  #  command: --default-authentication-plugin=mysql_native_password --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
  #  restart: always
  #  security_opt:
  #    - seccomp:unconfined
  #  volumes:
  #    - ./.docker/mysql57/log:/var/log/mysql
  #    - mysql57-data:/var/lib/mysql
  #  environment:
  #    - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
  #    - MYSQL_USER=${MYSQL_USER}
  #    - MYSQL_PASSWORD=${MYSQL_PASSWORD}

  adminer:
    image: ${ALIYUN_CONTAINER_URL}/magento2:adminer-latest-applesilicon
    container_name: ${COMPOSE_PROJECT_NAME}_adminer
    restart: always
    ports:
      - 8899:8080
    depends_on:
      - mysql
    environment:
      - ADMINER_DEFAULT_SERVER=${ADMINER_DEFAULT_SERVER}

  elasticsearch:
    image: ${ALIYUN_CONTAINER_URL}/magento2:ES-7.17.3-applesilicon
    container_name: ${COMPOSE_PROJECT_NAME}_es
    restart: always
    environment:
      - cluster.name=elasticsearch
      - bootstrap.memory_lock=true
      - discovery.type=single-node
      - "ES_JAVA_OPTS=-Xms2g -Xmx2g"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    ports:
      - "9200:9200"
      - "9300:9300"
    volumes:
      - elasticsearch-data:/usr/share/elasticsearch/data
      - ./.docker/elasticsearch/config/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml:ro
      - ./.docker/elasticsearch/config/jvm.options:/usr/share/elasticsearch/config/jvm.options:ro
      - ./.docker/elasticsearch/logs:/usr/share/elasticsearch/logs

  # 默认不再开启，可按需开起，只有 AMD64 版本
  #elasticsearch-head:
  #  image: ${ALIYUN_CONTAINER_URL}/magento2:ES-HEAD
  #  container_name: ${COMPOSE_PROJECT_NAME}_es_head
  #  restart: always
  #  ports:
  #    - "9100:9100"
  #  volumes:
  #    - ./.docker/elasticsearch-head/config/Gruntfile.js:/usr/src/app/Gruntfile.js:ro

  # 默认不再开启，可按需开起
  #sshd74:
  #  image: ${ALIYUN_CONTAINER_URL}/magento2:sshd-php-7.4.30-applesilicon
  #  container_name: ${COMPOSE_PROJECT_NAME}_sshd74
  #  ports:
  #    - "2221:22"
  #  restart: always
  #  volumes:
  #    - ./.docker/php-fpm/etc/conf.d/php.local.ini:/usr/local/etc/php/php.ini:ro
  #    - ./.docker/php-fpm/etc/conf.d/00-opcache-recommended.ini:/usr/local/etc/php/conf.d/00-opcache-recommended.ini:ro
  #    - data-www:/data/www
  #  dns:
  #    - 223.5.5.5 #https://www.alidns.com/
  #    - 119.29.29.29 #https://www.dnspod.cn/Products/Public.DNS
  #    - 114.114.114.114

  sshd:
    image: ${ALIYUN_CONTAINER_URL}/magento2:sshd-php-8.1.7-applesilicon
    container_name: ${COMPOSE_PROJECT_NAME}_sshd
    ports:
      - "2222:22"
    restart: always
    volumes:
      - ./.docker/php-fpm/etc/conf.d/php.local.ini:/usr/local/etc/php/php.ini:ro
      - ./.docker/php-fpm/etc/conf.d/00-opcache-recommended.ini:/usr/local/etc/php/conf.d/00-opcache-recommended.ini:ro
      - data-www:/data/www
    dns:
      - 223.5.5.5 #https://www.alidns.com/
      - 119.29.29.29 #https://www.dnspod.cn/Products/Public.DNS
      - 114.114.114.114

  code-server:
    image: codercom/code-server:latest
    container_name: ${COMPOSE_PROJECT_NAME}_code_server
    environment:
      - DOCKER_USER:www-data
    user: 1000:1000
    ports:
      - "9901:8080"
    restart: always
    volumes:
      - ./.docker/code-server/.config:/home/coder/.config
      - data-www:/data/www
    extra_hosts:
      - "git.d1m.cn:10.60.1.2"
    dns:
      - 223.5.5.5 #https://www.alidns.com/
      - 119.29.29.29 #https://www.dnspod.cn/Products/Public.DNS
      - 114.114.114.114

volumes:
  mysql-data:
  mysql57-data:
  mariadb-data:
  data-www:
  elasticsearch-data:
