<?php
return [
    'backend' => [
        'frontName' => 'admin_1ruwa9'
    ],
    'remote_storage' => [
        'driver' => 'file'
    ],
    'queue' => [
            'consumers_wait_for_messages' => 0,
        ],
    'cron_consumers_runner' => [
        'cron_run' => true,
        'max_messages' => 2,
        'single_thread' => true,
        'consumers_wait_for_messages' => 0,
        'consumers' => [
            'product_action_attribute.update',
            'product_action_attribute.website.update',
            'exportProcessor',
            'inventory.source.items.cleanup',
            'inventory.mass.update',
            'inventory.reservations.cleanup',
            'inventory.reservations.update'
        ]
    ],
    'crypt' => [
        'key' => 'xxxxxxxxxxxxxxx'
    ],
    'db' => [
        'table_prefix' => '',
        'connection' => [
            'default' => [
                'host' => 'mysql',
                'dbname' => 'magentoce243p1demo',
                'username' => 'root',
                'password' => 'fusc',
                'model' => 'mysql4',
                'engine' => 'innodb',
                'initStatements' => 'SET NAMES utf8mb4;', //SET NAMES utf8;
                'active' => '1',
                'driver_options' => [
                    1014 => false
                ]
            ]
        ]
    ],
    'resource' => [
        'default_setup' => [
            'connection' => 'default'
        ]
    ],
    'x-frame-options' => 'SAMEORIGIN',
    'MAGE_MODE' => 'developer',
    'session' =>
        array (
            'save' => 'redis',
            'redis' =>
                array (
                    'host' => 'redis',
                    'port' => '6379',
                    'password' => 'redis',
                    'timeout' => '2.5',
                    'persistent_identifier' => '',
                    'database' => '2',
                    'compression_threshold' => '2048',
                    'compression_library' => 'gzip',
                    'log_level' => '3',
                    'max_concurrency' => '100',
                    'break_after_frontend' => '5',
                    'break_after_adminhtml' => '30',
                    'first_lifetime' => '600',
                    'bot_first_lifetime' => '60',
                    'bot_lifetime' => '7200',
                    'disable_locking' => '0',
                    'min_lifetime' => '60',
                    'max_lifetime' => '2592000'
                )
    ),
    'cache' => [
            'frontend' => [
                'default' => [
                    'id_prefix' => '483_',
                    'backend' => 'Magento\\Framework\\Cache\\Backend\\Redis',
                    'backend_options' => [
                        'server' => 'redis',
                        'password' => 'redis',
                        'database' => '0',
                        'port' => '6379',
                        'compress_data' => '1',
                        'compress_threshold' => '2048',
                        'compression_lib' => 'gzip'
                    ]
                ],
                'page_cache' => [
                    'id_prefix' => '483_',
                    'backend' => 'Magento\\Framework\\Cache\\Backend\\Redis',
                    'backend_options' => [
                        'server' => 'redis',
                        'password' => 'redis',
                        'database' => '2',
                        'port' => '6379',
                        'compress_data' => '1',
                        'compress_threshold' => '2048'
                    ]
                ]
            ],
            'allow_parallel_generation' => false
        ],
    'lock' => [
        'provider' => 'db',
        'config' => [
            'prefix' => null
        ]
    ],
    'directories' => [
        'document_root_is_pub' => true
    ],
    'cache_types' => [
        'config' => 1,
        'layout' => 1,
        'block_html' => 1,
        'collections' => 1,
        'reflection' => 1,
        'db_ddl' => 1,
        'compiled_config' => 1,
        'eav' => 1,
        'customer_notification' => 1,
        'config_integration' => 1,
        'config_integration_api' => 1,
        'full_page' => 1,
        'config_webservice' => 1,
        'translate' => 1,
        'vertex' => 1
    ],
    'downloadable_domains' => [
        'docker.local'
    ],
    'install' => [
        'date' => 'Thu, 10 Mar 2022 04:51:46 +0000'
    ]
];
